<div class="layui-card-body">
  <%= simple_form_for @q, url: ebook_web_book_web_chapters_path, method: :get do |f|%>
    <div class="layui-inline layui-show-xs-block">
      <%= f.text_field :title_cont, placeholder: "来源网站-章节名", class: "layui-input" %>
    </div>
    <%= render search_form_btn, f: f%>
  <% end %>
</div>