<div class="layui-card-body">
  <%= simple_form_for @q, url: cloud_books_path, method: :get do |f|%>
    <div class="layui-inline layui-show-xs-block">
      <%= f.text_field :name_cont, placeholder: "类别名称", class: "layui-input" %>
    </div>
    <%= render search_form_btn, f: f%>
  <% end %>
</div>