<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-header">
      <h1><%= @book.name%></h1>
    </div>

    <div class="layui-card-body ">
      <table class="layui-table">
        <tbody>

          <tr>
            <th>类别名称</th>
            <td><%= @book.category.name %></td>

            <th>图书名</th>
            <td><%= @book.name%></td>
          </tr>

          <tr>
            <th>摘要</th>
            <td colspan="3"><%= @book.depcit%></td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>