<div class="layui-card-body">
  <%= simple_form_for @q, url: background_users_path, method: :get do |f|%>
    <div class="layui-inline layui-show-xs-block">
      <%= f.text_field :login_name_cont, placeholder: "登录账号", class: "layui-input" %>
    </div>
    <%= render search_form_btn, f: f%>
  <% end %>
</div>